.AnswerMultiChoiceButtons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	margin-top: 1rem;
}

.AnswerChoiceButton-flag {
	font-size: 4rem !important;
	padding: 0.2rem 0.5rem !important;
}

.AnswerMultiChoiceButtons .AnswerChoiceButton-btn-correct {
	background-color: rgba(9, 213, 67, 70%);
}
.AnswerMultiChoiceButtons .AnswerChoiceButton-btn-correct:hover {
	background-color: rgba(9, 213, 67, 70%);
}

.AnswerMultiChoiceButtons .AnswerChoiceButton-btn-incorrect {
	background-color: rgba(232, 70, 70, 70%);
}

.AnswerMultiChoiceButtons .AnswerChoiceButton-btn-incorrect:hover {
	background-color: rgba(232, 70, 70, 70%);
}

.btn-multichoice-disabled:hover {
	cursor: default;
}

.AnswerMultiChoiceButtons .btn-multichoice-disabled:active {
	cursor: default;
	box-shadow: 3px 3px 8px 2px #666;
	transform: translate(0px, 0px);
}
