.AnswerForm {
	width: 100%;
	margin-top: 0.5rem;
}

.AnswerForm form {
	width: 100%;
	display: flex;
	align-items: flex-end;
}

.AnswerForm-input {
	width: 70%;
	background-color: inherit;
	outline: none;
	border: none;
	border-bottom: 1.6px solid white;
	font-size: 1.2rem;
	padding: 0.3rem 0;
	margin-top: 0.5rem;
	color: white;
	font-family: inherit;
	-webkit-appearance: none;
	border-radius: 0;
}

.AnswerForm-input:focus {
	border-color: yellow;
}

.AnswerForm-btn {
	margin-left: auto;
	outline: none;
	border: none;
	font-family: inherit;
	/* font-weight: 600; */
	/* font-size: 0.8rem; */
	border-radius: 0.2rem;
	padding: 0.4rem 0.4rem;
	background-color: rgb(159, 146, 249);
}

.AnswerForm-input-correct,
.AnswerForm-input-correct:focus {
	color: green;
	border-color: green;
}

.AnswerForm-input-incorrect,
.AnswerForm-input-incorrect:focus {
	color: red;
	border-color: red;
}

.QuestionBox-answer {
	margin: 0.4rem 0;
}

@media (min-width: 575px) {
	.AnswerForm {
		margin-top: 3rem;
	}

	.AnswerForm-input {
		font-size: 1.6rem;
		padding: 0.5rem 0;
	}

	.AnswerForm-btn {
		padding: 0.7rem 0.7rem;
	}
}

@media (min-width: 1000px) {
	.QuestionBox-answer {
		margin: 1rem 0;
	}
}
