.QuestionBox {
	width: 100%;
	margin: 2rem 0;
	background-color: rgba(68, 68, 130, 0.5);
	border-radius: 1rem;
}

.QuestionBox-content {
	padding: 2rem;
}

.QuestionBox-question {
	padding-bottom: 1rem;
	font-size: 1.5rem;
	border-bottom: 1.8px solid rgb(12, 12, 62);
}

.QuestionBox-answer {
	margin: 1rem 0;
}

.QuestionBox-prompt {
	margin-top: 0.4rem;
}
