.QuizCategoryPage {
	width: 92%;
	margin: 10px auto;
}

.QuizCategoryPage-category-heading {
	margin: 2rem auto;
	text-align: center;
}

.QuizCategoryPage-buttons {
	/* margin: auto; */
	margin: 0;
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1.5rem;
}

.QuizCategoryPage-links {
	/* margin: auto; */
	display: flex;
	/* flex-direction: column; */
	align-items: center;
	flex-wrap: wrap;
}

.QuizCategoryPage-quiz-link {
	width: 80% !important;
	position: relative;
	height: 50px;
}

.QuizCategoryPage-btn-background {
	position: relative;
	height: 100px;
}

.QuizCategoryPage-btn-background img {
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	object-fit: cover;
}
.QuizCategoryPage-btn-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.QuizCategoryPage-background-europe {
	background-image: url('./images/europe.jpeg');
	background-size: cover;
	background-position: bottom;
}

.QuizCategoryPage-background-asia {
	background-image: url('./images/asia.jpeg');
	background-size: cover;
	background-position: center;
}

.QuizCategoryPage-background-africa {
	background-image: url('./images/africa.jpeg');
	background-size: cover;
	background-position: center;
}

.QuizCategoryPage-background-south-america {
	background-image: url('./images/south-america.jpeg');
	background-size: cover;
	background-position: center;
}

.QuizCategoryPage-background-north-america {
	background-image: url('./images/north-america.jpeg');
	background-size: cover;
	background-position: center;
}

.QuizCategoryPage-background-oceania {
	background-image: url('./images/oceania.jpeg');
	background-size: cover;
	background-position: center;
}

.QuizCategoryPage-back-button {
	width: fit-content;
	padding-bottom: 0.2rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0%);
	margin-bottom: 1.4rem;
	transition: border-bottom 0.2s;
}

.QuizCategoryPage-back-button a {
	text-decoration: none;
	color: inherit;
}

.QuizCategoryPage-back-button:hover {
	border-bottom: 1px solid white;
}

.QuizCategoryPage-btn-text {
	text-decoration: none;
	color: black;
	font-weight: bold;
	background-color: rgba(255, 255, 255, 75%);
	padding: 0.5rem;
	border-radius: 0.5rem;
}

@media (min-width: 600px) {
	.QuizCategoryPage {
		width: 60%;
		margin-top: 50px;
	}

	.QuizCategoryPage-links {
		width: 100%;
	}

	.QuizCategoryPage-quiz-link {
		width: 40% !important;
		height: 100px;
	}

	/*
	.QuizCategoryPage-quiz-link {
		width: 40% !important;
		margin: 0.67em 0;
	}

	.QuizCategoryPage-quiz-category-link {
		/* width: 50% !important; */
	/* } */
}

@media (min-width: 1000px) {
	.QuizCategoryPage-links {
		width: 100%;
	}

	.QuizCategoryPage-quiz-link {
		width: 40% !important;
	}

	.QuizCategoryPage-quiz-category-link {
		width: 80% !important;
	}
}
