.QuizMenu {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 3rem;
}
.QuizMenu-category-heading {
	color: rgb(244, 162, 175);
}
.QuizMenu-links {
	margin: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	row-gap: 3rem;
	column-gap: 1rem;
	width: 96%;
}

.btn-contents.QuizMenu-quiz-category-link {
	width: 80% !important;
	margin: 0;
	background-color: rgba(102, 57, 9, 0.29);

	/* flex-direction: column; */
	/* margin: 1.2rem; */
}

.Quizmenu-category-link-content {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.QuizMenu-category-text {
	/* margin: 0 1rem; */
}

.QuizMenu-category-emoji {
	font-size: 2.5rem;
	/* margin: 0 1rem; */
	margin-left: 1rem;
}

/* .QuizMenu-links {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.QuizMenu-variant-buttons {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
}

.QuizMenu-quiz-link {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.2rem 0.6rem;
	text-decoration: none;
	color: white;

	font-size: 1.2rem;
	border: 1px solid white;
	width: 30%;
	text-align: center;
	margin: 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
	box-shadow: 3px 3px 8px 2px #666;
	transition: transform 0.1s;
}

.QuizMenu-quiz-link:hover {
	background-color: #ccc;
}

.QuizMenu-quiz-link:active {
	box-shadow: none;
	transform: translate(3px, 3px);
}

.QuizMenu-quiz-link:hover a {
	color: black;
} */

.QuizMenu-reset-btn {
	margin-top: 4rem;
	background-color: rgba(237, 90, 90, 0.845);
	color: white;
	font-size: 1rem;
	box-shadow: 2px 2px 4px 1px #666;
}

@media (min-width: 600px) {
	.QuizMenu-quiz-link {
		width: 40% !important;
	}

	.btn-contents.QuizMenu-quiz-category-link {
		width: 30% !important;
		display: flex;
		flex-direction: column;
	}
}

@media (min-width: 1000px) {
	.QuizMenu-links {
		width: 60%;
	}

	.QuizMenu-quiz-link {
		width: 50% !important;
	}

	.QuizMenu-quiz-category-link {
		width: 50% !important;
	}
}
