.QuizPage {
	width: 90%;
	margin: auto;
}

.Quiz-back-button {
	margin-top: 1rem;
}

.QuizPage-mode-btns-holder {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 2rem;
}

.QuizPage-mode-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 1.4rem;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	/* width: 35%; */
	/* height: 40%; */
	font-size: 1.6rem;
}
.QuizPage-mode-link div {
	/* margin-top: 1rem; */
}

.QuizPage-mode-link-emoji {
	font-size: 3rem;
}

.QuizPage-question-history-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.QuizPage-question-history-reset-btn {
	margin-top: 2rem !important;
	background-color: rgba(232, 75, 75, 0.858);
	color: white;
}

.QuizPage-question-history {
	margin-top: 2rem !important;
}

@media (min-width: 600px) {
	.QuizPage {
		width: 60%;
	}
}

@media (min-width: 1000px) {
	.QuizPage {
		width: 40%;
	}
}
