.QuizPage {
	width: 90%;
	margin: auto;
}

.QuizPage-contents {
	/* width: fit-content; */
	margin: auto;
	/* display: flex;
	flex-direction: column;
	justify-content: flex-start; */
}

.Quiz-back-button {
	margin-top: 1rem;
}

.QuizPage-mode-btns-holder {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 2rem;
}

.QuizPage-mode-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 1.2rem;
	border-radius: 50%;
	/* min-width: 50px;
	min-height: 50px; */
	width: 90px;
	height: 90px;
	margin: 0 auto;
	/* width: 35%; */
	/* height: 40%; */
	font-size: 1.6rem;
}
.QuizPage-mode-link div {
	/* margin-top: 1rem; */
}

.QuizPage-mode-link-emoji {
	font-size: 2.5rem;
}

.QuizPage-question-history-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.QuizPage-question-history-reset-btn {
	margin-top: 2rem !important;
	background-color: rgba(237, 90, 90, 0.845);
	color: white;
	font-size: 1rem;
	box-shadow: 2px 2px 4px 1px #666;
}

.QuizPage-question-history-reset-btn:active {
	box-shadow: none;
	transform: translate(2px, 2px);
}

.QuizPage-question-history-reset-btn:hover {
	color: black;
}

.QuizPage-question-history {
	margin-top: 2rem !important;
}

@media (min-width: 600px) {
	.QuizPage {
		width: 70%;
	}

	.QuizPage-contents {
		width: fit-content;
	}

	.QuizPage-mode-link:first-child {
		margin-right: 2rem;
	}

	.QuizPage-mode-link:last-child {
		margin-left: 2rem;
	}
}

@media (min-width: 1000px) {
	.QuizPage {
		width: 50%;
	}
}
