.Quiz {
	width: 92%;
	margin: 10px auto;
	max-width: 620px;

	/* border: 2px solid white; */
}

.Quiz h1 {
	margin: 10px 0;
}

.Quiz-restart {
	font-size: 2rem;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 0;
	width: 100%;
}

.Quiz-restart h3 {
	text-align: center;
	font-size: 2.1rem;
}

.Quiz-end-of-quiz-options {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 1.5rem;
}

.Quiz-end-of-quiz-options a {
	text-decoration: none;
	color: black;
}

.Quiz-loading {
	margin: 2rem auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Quiz-switch-container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding-bottom: 0.2rem;
}

.Quiz-back-button {
	width: fit-content;
	padding-bottom: 0.2rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0%);
	margin-bottom: 1.4rem;
	transition: border-bottom 0.2s;
}

.Quiz-back-button a {
	text-decoration: none;
	color: inherit;
}

.Quiz-back-button:hover {
	border-bottom: 1px solid white;
}

.Quiz-summary {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(68, 68, 130, 0.5);
	padding: 2rem;
	margin: 0.4rem 0;
	background-color: rgba(68, 68, 130, 0.5);
	border-radius: 1rem;
	width: 95%;
	box-sizing: border-box;
}

.Quiz-summary-msg {
	text-align: center;
	font-size: 2.2rem;
	margin-bottom: 1rem;
}

.Quiz-summary-score {
	font-size: 4rem;
	font-weight: bold;
	margin-top: 0;
}

@media (min-width: 575px) {
	.Quiz {
		width: 60%;
		margin-top: 50px;
	}
}

@media (min-width: 1000px) {
	.Quiz {
		width: 50%;
		margin-top: 50px;
	}

	.Quiz h1 {
		margin: 0.67em 0;
	}

	.Quiz-switch-container {
		padding-bottom: 1rem;
	}
}
