.Quiz {
	width: 92%;
	margin: 10px auto;

	/* border: 2px solid white; */
}

.Quiz h1 {
	margin: 10px 0;
}

.Quiz-restart {
	font-size: 2rem;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 0;
	width: 100%;
}

.Quiz-restart-btn {
	margin: 2rem auto;
	outline: none;
	background-color: white;
	border-radius: 3rem;
	border: none;
	font-size: 1.4rem;
	padding: 1rem 1.6rem;
	font-family: inherit;
	box-shadow: none;
	cursor: pointer;
}

.Quiz-loading {
	margin: 2rem auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Quiz-switch-container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding-bottom: 0.2rem;
}

.Quiz-back-button {
	width: fit-content;
	padding-bottom: 0.2rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0%);
	margin-bottom: 1.4rem;
	transition: border-bottom 0.2s;
}

.Quiz-back-button a {
	text-decoration: none;
	color: inherit;
}

.Quiz-back-button:hover {
	border-bottom: 1px solid white;
}

@media (min-width: 575px) {
	.Quiz {
		width: 60%;
		margin-top: 50px;
	}
}

@media (min-width: 1000px) {
	.Quiz {
		width: 50%;
		margin-top: 50px;
	}

	.Quiz h1 {
		margin: 0.67em 0;
	}

	.Quiz-switch-container {
		padding-bottom: 1rem;
	}
}
