.QuizMenu {
	display: flex;
	justify-content: center;
}

.QuizMenu-category-heading {
	color: rgb(244, 162, 175);
}
.QuizMenu-links {
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

.QuizMenu-quiz-category-link {
	width: 80% !important;
}

/* .QuizMenu-links {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.QuizMenu-variant-buttons {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
}

.QuizMenu-quiz-link {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.2rem 0.6rem;
	text-decoration: none;
	color: white;

	font-size: 1.2rem;
	border: 1px solid white;
	width: 30%;
	text-align: center;
	margin: 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
	box-shadow: 3px 3px 8px 2px #666;
	transition: transform 0.1s;
}

.QuizMenu-quiz-link:hover {
	background-color: #ccc;
}

.QuizMenu-quiz-link:active {
	box-shadow: none;
	transform: translate(3px, 3px);
}

.QuizMenu-quiz-link:hover a {
	color: black;
} */

@media (min-width: 600px) {
	.QuizMenu-quiz-link {
		width: 40% !important;
	}

	.QuizMenu-quiz-category-link {
		width: 50% !important;
	}
}

@media (min-width: 1000px) {
	.QuizMenu-links {
		width: 60%;
	}

	.QuizMenu-quiz-link {
		width: 50% !important;
	}

	.QuizMenu-quiz-category-link {
		width: 30% !important;
	}
}
